@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #222;
  /* scrollbar-gutter: stable; */
  overflow-y: hidden;
}

main {
  position: relative;
}

h1 {
  text-wrap: balance;
}

.notes-list {
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
